/* GLOBAL */

.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

body {
  background: #212733;
  padding: 60px 20px 20px;
}
body.standalone {
  padding-top: 20px;
}
.standalone-visible {
  display: none;
}
body.standalone .standalone-visible {
  display: block;
}
body.standalone .standalone-hidden {
  display: none;
}

::selection {
  background: #CD6C92;
}

.search-container {
  max-width: 80%;
  margin: 0 auto;
}

input, a {
  -webkit-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  -o-transition: all 350ms linear;
  transition: all 350ms linear;
}

.search-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}

@media (max-width: 768px) {
  body {
    padding: 15px 0;
  }
}



/* HEADER */

#intro {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 30px;
}
#intro h1,
#intro h1 a {
  color: #ACB3B0;
  font-size: 60px;
  margin: 0;
}

#info {
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
}
#info a {
  color: #000;
  opacity: 0.3;
}
#info a:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  #intro {
    margin-bottom: 0;
    padding: 0 15px;
  }
  #intro h1 {
    font-size: 40px;
  }
}



/* SEARCH FORM */

.search-input, .pac-item, .pac-item span {
  font-family: "roboto-mono",monospace;
  background: none;
  border: none;
  color: #A7D771;
  font-size: 50px;
  font-weight: 200;
  line-height: 50px;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}
.search-input:focus,
.search-input:hover {
  background: #272D39;
  outline: none;
}

.pac-container {
  background: #272D39;
  border-radius: 0;
  border-top-color: #ACB3B0;
  box-shadow: none;
}
.pac-item {
  cursor: pointer;
}
.pac-item, .pac-item span {
  font-size: 25px;
  line-height: 25px;
}
.pac-item span.pac-matched {
  padding: 0;
}
.pac-item span:last-child {
  padding-left: 0;
}
.pac-item.pac-item-selected,
.pac-item:hover,
.pac-item.pac-item-selected:hover {
  background: #741640;
}
body .pac-item .pac-icon-marker {
  display: none;
}
body .pac-logo:after {
  background-image: url(../img/powered_by_google_on_non_white.png);
}
body .hdpi.pac-logo:after {
  background-image: url(../img/powered_by_google_on_non_white_hdpi.png);
}


/* CLOCK */

.clock-container {
  text-align: center;
}
.clock-container p {
  color: #A7D771;
  cursor: default;
  font-family: "roboto-mono",monospace;
  font-size: 100px;
  font-weight: 300;
  margin: 0;
}
.clock-container p#date {
  font-size: 50px;
  font-weight: 200;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .search-input {
    font-size: 20px;
    line-height: 20px;
  }
  .pac-item, .pac-item span {
    font-size: 18px;
    line-height: 18px;
  }
  .clock-container p {
    font-size: 40px;
  }
  .clock-container p#date {
    font-size: 20px;
  }
}
